<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
</head>

<body class="h-screen bg-[#EDF2F7] relative">
    <header>
        <nav class=" border-gray-200 border-b-2 px-2 sm:px-4 py-2.5 rounded">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <a href="#" class="flex items-center">
                    <img src="../assets/img/logo.png" class="mr-3 h-10 sm:h-9" alt="mamun Logo">
                </a>
                <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
                    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                        <a href="#"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0 ">Log
                            In</a>

                        <li>
                            <a href="#"
                                class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0">Sign
                                up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section class="relative">

        <div class="w-1/2 absolute top-[11rem] left-14 hidden md:block">
            <img src="../assets/img/undraw_selection_re_ycpo.svg" alt="" srcset="">
        </div>

        <div class="bg-white shadow-sm rounded-md w-[400px] min-h-fit  m-auto py-10 px-3 absolute left-[50rem] top-[6rem]">
            <div class="text-lg mb-1 text-center font-bold text-gray-700 leading-tight">Take loan in few secund</div>0
            <form action="" class="flex flex-col justify-center items-center space-y-6">
                <div class="w-full">
                    <label for="amount" class="block mb-2 text-sm font-medium text-gray-900">How Much:</label>
                    <input type="text" id="amount" name="amount"
                        class="bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5"
                        placeholder="5000 AED" required>
                </div>
            
                <div class="w-full">
                    <label for="Duration" class="block mb-2 text-sm font-medium text-gray-900">Duration:</label>
                    <select id="Duration"
                        class="bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5">
                        <option selected>Choose Time</option>
                        <option value="T">3 Months</option>
                        <option value="S">6 Months</option>
                        <option value="TW">12 Months</option>
                        <option value="TF">24 Months</option>
            
                    </select>
                </div>
                <div class="w-full">
                    <label for="Email" class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
                    <input type="text" id="Email" name="Email"
                        class="bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5"
                        placeholder="youremail@gmail.com" required>
                </div>
                <div class="w-full">
                    <label for="Number" class="block mb-2 text-sm font-medium text-gray-900">Phone Number:</label>
                    <input type="text" id="Number" name="Number"
                        class="bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5"
                        placeholder="+968 9617801" required>
                </div>
                <div class="w-full">
                    <label for="IDNum" class="block mb-2 text-sm font-medium text-gray-900">ID Number:</label>
                    <input type="text" id="IDNum" name="IDNum"
                        class="bg-gray-50 border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5"
                        placeholder="000 000 000" required>
                </div>
                <button
                    class="focus:outline-none border w-full border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-purple-700 hover:bg-purple-600 font-medium">Next</button>
            </form>
        </div>
       
    </section>

</body>

</html>