<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
</head>

<body class="min-h-screen bg-[#EDF2F7] relative">
   <header>
        <nav class=" border-gray-200 border-b-2 px-2 sm:px-4 py-2.5 rounded">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <a href="#" class="flex items-center">
                    <img src="../assets/img/logo.png" class="mr-3 h-10 sm:h-9" alt="mamun Logo">
                </a>
                <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
                    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                        <a href="#"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0 ">Log
                            In</a>

                        <li>
                            <a href="#"
                                class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0">Sign
                                up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
   </header>


   <section class="bg-white shadow-sm rounded-md w-[400px] min-h-fit  m-auto py-10 px-3 absolute left-0 right-0  top-[12rem] ">

    <div class="text-lg mb-3 text-center font-bold text-gray-700 leading-tight"> Download LIV app</div>
    <div class="items-center m-auto w-20 h-20 mt-4">
       <img src="../assets/img/Liv-Logo.png" alt="" srcset="">
    </div>

    <div class="flex flex-row justify-around mt-5 ">
        <button type="button"
            class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900 dark:hover:bg-gray-200 mr-2 mb-2">
            <svg class="mr-2 -ml-1 w-5 h-5" viewBox="0 0 256 274" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M188.813 178.875C221.273 161.052 245.88 147.471 248.001 146.415C254.786 142.807 261.793 133.257 248.001 125.839C243.548 123.506 219.573 110.348 188.813 93.3789L146.171 136.444L188.813 178.874V178.875Z"
                    fill="#FFD900" />
                <path
                    d="M146.171 136.444L10.394 273.287C13.581 273.709 17.179 272.864 21.421 270.532C30.327 265.657 124.739 214.098 188.813 178.885L146.171 136.444Z"
                    fill="#F43249" />
                <path
                    d="M146.171 136.444L188.813 93.5911C188.813 93.5911 30.971 7.45011 21.421 2.36511C17.823 0.234113 13.791 -0.398887 10.183 0.234113L146.171 136.444V136.444Z"
                    fill="#00EE76" />
                <path
                    d="M146.171 136.444L10.183 0.233887C4.664 1.50989 0 6.38589 0 16.3579V257.163C0 266.29 3.609 272.864 10.394 273.498L146.171 136.444Z"
                    fill="#00D3FF" />
            </svg>

            with Google Play
        </button>

        <button type="button"
            class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 mr-2 mb-2">
            <svg class="mr-2 -ml-1 w-5 h-5" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="apple" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path fill="currentColor"
                    d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z">
                </path>
            </svg>
             with Apple Store
        </button>
        
    </div>

   </section>

</body>

</html>